/******************** Import des polices Shrikhand et Roboto ********************/
/*********@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/******************CSS Accueil***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  min-width: 320px;
  max-width: 1440px;
  margin: auto;
}

/****************** Chagement de la page ***************/
.loader {
  z-index: 1;
  position: absolute;
  width: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #9356dc 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #9356dc);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spin 3s linear 0ms both;
  margin: 400px 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

/****** Gestion de l'entête / Description du restaurant ******/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: auto;
  height: 63px;
  box-shadow: 0 0 5px 0;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  background-color: #e4e4e4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: sticky;
}

.location i {
  color: #353535;
  padding: 5px;
  margin-left: 70px;
}

.location input {
  outline: none;
  border: none;
  background-color: #e4e4e4;
  font-family: "Roboto";
  color: #353535;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

.description span {
  font-family: "Roboto";
  color: white;
  align-items: center;
}

.description {
  width: auto;
  height: auto;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto";
  padding: 60px;
  text-align: center;
  align-items: center;
}

.description_title {
  font-size: 25px;
  padding: 10px;
  font-family: "Roboto";
}
.description_subtitle {
  font-weight: 300;
}

.explorer_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.explorer_btn_text {
  color: white;
  font-size: 16px;
  align-items: center;
}

.btn_gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9356dc;
  border-radius: 25px;
  padding: 13px;
  background-image: linear-gradient(
    179deg,
    rgb(255, 121, 218) -11.44%,
    rgb(147, 86, 220) 123.93%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  width: 220px;
  height: 53px;
  line-height: 30px;
  font-family: "Roboto";
  text-decoration: none;
}

.btn_gradient:hover {
  background-image: linear-gradient(
    179deg,
    rgb(252, 132, 218) -11.44%,
    rgb(155, 99, 223) 123.93%
  );
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

/******  Section fonctionnement  ******/
.container_fonctionnement {
  width: auto;
  height: auto;
  background-color: white;
  padding: 40px 20px;
  margin-top: 10px;
}

.container_fonctionnement_title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  padding: 20px 0px;
}

.container_list {
  padding: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container_fonctionnement_btn {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  margin: 10px 0;
  height: 72px;
  padding: 10px 120px;
  border: none;
  position: relative;
}

.container_fonctionnement_text {
  margin-left: 30px;
  line-height: 19px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.container_fonctionnement_number {
  border-radius: 100%;
  padding: 3px 7px;
  background-color: #9356dc;
  color: white;
  font-size: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone_fonctionnement {
  color: #7e7e7e;
  font-size: 17px;
  margin-left: -4.2em;
}

.icone_fonctionnement_color {
  color: #9356dc;
  font-size: 17px;
  margin-left: -4.2em;
}

/******  Section restaurant  ******/
.container_restaurants {
  background-color: #f3f3f3;
  width: auto;
  height: auto;
  padding: 50px 15px;
}

.container_restaurant_card {
  padding: 20px 0;
}

.container_restaurants_title {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

.card {
  width: 100%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
}

.card_restaurant {
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
}

.card_restaurant_image {
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
}

.card_restaurant_title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  padding: 10px 10px 5px 10px;
}

.card_restaurant_subtitle {
  font-family: "Roboto";
  padding: 0 10px;
  font-size: 16px;
}

section a {
  text-decoration: none;
  color: black;
  font-family: "Roboto";
}

/******  Gestion des favoris  ******/
.heart {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  position: absolute;
  right: 2em;
  top: 190px;
}


.heart:active .fa-regular {
  display: none;
}
.heart:active .fa-solid {
  display: block;
}

.heart .fa-solid {
  display: none;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******  Gestion du bouton Nouveau  ******/
.new {
  width: 90px;
  height: 30px;
  background-color: #99e2d0;
  color: #008766;
  font-family: "Roboto";
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 2px;
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  font-weight: 600;
}

/******  Gestion du footer  ******/
footer {
  width: auto;
  height: auto;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}

footer img {
  height: 25px;
  width: 135px;
  fill: white !important;
}

footer nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  gap: 7px;
}

footer nav a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  gap: 7px;
}

footer nav .proposer {
  width: 198px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
}

footer nav .partenaire {
  width: 158px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 769px) {
  .description_title {
    font-size: 30px;
  }
  .container_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .container_fonctionnement_btn {
    width: 100%;
    margin: 10px 0;
    height: 72px;
    padding: 0px 95px;
  }
  .container_fonctionnement_text {
    flex-shrink: 0;
    margin-left: 13px;
  }
  .container_fonctionnement_title {
    font-size: 23px;
  }
  .container_restaurants {
    padding: 30px 20px 0 20px;
  }
  .container_restaurants_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 0px 0px 30px 0px;
  }

  section .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container_restaurants_title {
    font-size: 23px;
  }
  .card {
    width: 45%;
    margin: 0;
  }

  .card_restaurant_title {
    font-size: 17px;
    padding: 10px 0 3px 15px;
  }
  .card_restaurant_subtitle {
    font-size: 16px;
    padding: 0 0 0 15px;
  }
  .heart i {
    top: 83%;
    right: 2vh;
    font-size: 25px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 40px 40px 30px 0;
  }
  footer img {
    display: flex;
    margin-bottom: 0;
  }

  footer nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0px 100px 0px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .container_fonctionnement {
    padding: 20px 0px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .description_title {
    font-size: 40px;
  }
  .description_subtitle {
    font-size: 18px;
  }
  .container_restaurants {
    padding: 20px 210px 0px 210px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_fonctionnement_text {
    margin-left: 15px;
  }

  .card {
    width: 45%;
    height: 238px;
  }

  .card_restaurant_title {
    font-size: 18px;
    padding: 10px 0 3px 20px;
  }
  .card_restaurant_subtitle {
    font-size: 17px;
    padding: 0 0 0 20px;
  }
  .heart i {
    top: 83%;
    right: 2vh;
    font-size: 25px;
  }
}
